@using Bank_Web.Models
@{
    ViewBag.Title = "Fatura";
    Layout = "~/Views/Shared/_Kullanici_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Fatura İşlemleri</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="card-header">
            <h3 class="card-title">Fatura Sorgula</h3>
        </div>

        <form role="form">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Abone Numarası</label>
                    <input type="Number" min="1" class="form-control" id="borcSorgula" placeholder="Abone Numarası Giriniz">
                </div>
            </div>
            <div class="card-footer">
                <input type="button" value="Sorgula" onclick="location.href='@Url.Action("Fatura", "Kullanici")?AboneNo='+$('#borcSorgula').val()" class="btn btn-success" />
            </div>

            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Faturalar</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Fatura</th>
                                <th>Fatura Tutarı</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                @if (Globals.musteri.Fatura != null)
                                {
                                    if (Globals.musteri.Fatura.MusteriID == Globals.musteri.MusteriID)
                                    {
                                        <td>@Globals.musteri.Fatura.AboneNo</td>
                                        <td>@Globals.musteri.Fatura.Borc</td>
                                        <td class="text-right py-0 align-middle">
                                            <div class="btn-group btn-group-sm">
                                                @Html.RadioButton("BorcNo", @Globals.musteri.Fatura.AboneNo)
                                            </div>
                                        </td>
                                    }

                                }


                        </tbody>
                    </table>
                </div>

                <!-- /.card-body -->
            </div>
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Gönderici Hesap</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Hesap Numarası</th>
                                <th>Bakiye</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Globals.musteri.Hesaplar != null)
                            {
                                foreach (var item in Globals.musteri.Hesaplar)
                                {
                                    if (item.Durum == "Açık")
                                    {
                                        <tr>
                                            <td>@item.HesapNo</td>
                                            <td>@item.Bakiye</td>
                                            <td class="text-right py-0 align-middle">
                                                <div class="btn-group btn-group-sm">
                                                    @Html.RadioButton("GonderenHesapNo", @item.HesapNo)
                                                </div>
                                            </td>
                                        </tr>
                                    }

                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body">
                <input type="button" id="BorcOde" value="Fatura Öde" class="btn btn-success"/>
            </div>
        </form>
    </section>
</div>

@Html.Hidden("RedirectTo", Url.Action("Index", "Kullanici"));

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">


    $("#BorcOde").click(function () {
        var aboneNo = $("input[name=BorcNo]:checked").val();
        var gonderenNo = $("input[name=GonderenHesapNo]:checked").val();
        var url = $("#RedirectTo").val();
        $.ajax({
            url: "http://localhost:54117/api/Odeme?AboneNo="+aboneNo+"&HesapNo="+gonderenNo,
            type: "POST",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', 'Bearer @Globals.token.access_token');
            },
            crossDomain: true,
            success: function (result) {
                alert("Borç Ödendi..")
                window.location.href = url;

            },
            error: function (xhr, status, error) {
                alert(status + " " + error);
            }
        });
    });

</script>





